h1{
	font-size: 100px;
	font-family: "Palatin", sans-serif;
	height: 100vh;
	display: block;
	margin-top: 0px;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 100vh;
	vertical-align: middle;
}
#jumbotron p{
	color: white;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	height: 0vh;
}
h2{
	color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
}
h3{
	font-size: 30px;
}
body{
	background-image: url(images/bluekey.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 20px;
	font-family: "Palatin", serif;
	margin: 0px;
}
/*-----------------------INFO---------------------------*/
.aboutme{
	background-color: rgb(67,202,213);
/*	font-family: 'Roboto', sans-serif;*/
	font-family: "Palatin", serif;
	-webkit-column-count: 2;
	-webkit-column-gap: 0px;
	-moz-column-count: 2;
	-moz-column-gap: 0px;
	max-height: 400px;
}
/*.aboutme h3{
	text-align: center;
	-webkit-column-span:all;
	padding-top: 20px;
}*/
#mypic img{
	max-height: 300px;
	padding: 20px;
	position: left;
}
#info p{
	text-align: right;
	padding-left: 20px;
}
/*-----------------------SKILLS------------------------*/
.skills{
	-webkit-column-count: 2;
	-webkit-column-gap: 0px;
	-moz-column-count: 2;
	-moz-column-gap: 0px;
	background-color: #002448;
	color: white;
}
.skills h3{
	text-align: center;
}
#skills-bars{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#classes p{
	padding-left:120px;
}
/*-----------------------WORK--------------------------*/
#work{
	-webkit-column-count: 2;
	-webkit-column-gap: 0px;
	-moz-column-count: 2;
	-moz-column-gap: 0px;
	background-color: #021631;
	width: 100%
	display: block;
	color: white;
	padding-bottom: 20px;
}
#work h3{
	text-align: center;
	-webkit-column-span:all;
	-moz-column-span:all;
}
#gaming img{
	height: 300px;
	width: 440px;
}
#gaming:hover{
	-webkit-box-shadow:	inset 0 0 100px rgba(255, 255, 255, 0.35);
	-moz-box-shadow:	inset 0 0 100px rgba(255, 255, 255, 0.35);
	box-shadow: 		inset 0 0 100px rgba(255, 255, 255, 0.35);
}
#Hackathons img{
	padding-top: 20px;
	height:300px;
	width: 250px;
}
#Hackathons:hover{
	-webkit-box-shadow:	inset 0 0 100px rgba(255, 255, 255, 0.35);
	-moz-box-shadow:	inset 0 0 100px rgba(255, 255, 255, 0.35);
	box-shadow: 		inset 0 0 100px rgba(255, 255, 255, 0.35);
}
#currently{
	background-color: #37438a;
	text-align: center;
	padding: 10px;
	color: white;
}
/*-----------------------SOCIAL-----------------------*/
#social{
	background-color: #39cad6;
	width: 100%;
	display: block;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 20px;
}
#social h3{
	font-size: 30pt;
}
#adobeButton{
	border-radius: 5px;
	background-color: #f44336;
	color: white;
	padding: 20px 25px 20px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
.links{
	padding-bottom: 20px;
}
.links img{
	padding: 10px;
	max-height: 50px;
}
#adobeButton:hover{
   -moz-box-shadow:    inset 0 0 100px rgba(255, 255, 255, 0.35);
   -webkit-box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.35);
   box-shadow:         inset 0 0 100px rgba(255, 255, 255, 0.35);
}
footer{
	padding-top: 20px;
	font-size: 15px;
}
