@import url('https://fonts.googleapis.com/css?family=Muli');
/* Style the header with a grey background and some padding */
.jumbotron{
  background-color: rgba(241, 241, 241, 0.65);
  text-align: center;
}
.jumbotron-content{
  font-family: 'Muli';
  /* color: white; */
}
a { color: white; text-decoration: none; }

/*-----------------------CONTENT----------------------*/

body{
  background-image: url(../images/office.jpg);
  background-size: cover;
}
/*-----------------------SOCIAL-----------------------*/

footer{
	position: fixed;
	bottom: 0px;
  width: 100%;
	padding-top: 20px;
	font-size: 15px;
	text-align: center;
  color: white;
}
