@import url('https://fonts.googleapis.com/css?family=Muli');
/* Style the header with a grey background and some padding */
.jumbotron{
  background-color: rgba(241, 241, 241, 0.65);
  text-align: center;
}
.jumbotron-content{
  font-family: 'Muli';
  /* color: white; */
}
.header {
  overflow: hidden;
  /*background-color: #f1f1f1;*/
  background-image: url(images/keys.png);
  margin-top: 0px;
  background-size: 100%;
  padding: 20px 10px;
}
a { color: white; text-decoration: none; }

/*-----------------------CONTENT----------------------*/



body{
  /* background-color: #373737; */
  background-image: url(images/office.jpg);
  background-size: cover;
}
/*-----------------------SOCIAL-----------------------*/

footer{
	position: fixed;
	bottom: 0px;
	padding-top: 20px;
	font-size: 15px;
	text-align: center;
}
